<p id="notice"><%= notice %></p>

<h1>Bike Catalog</h1>
<br>
<table class="catalog">
  
<% @bikes.each do |bike| %>
  <tr>
    <td>
      <div class="image">
        <%= link_to (image_tag bike.image_url, :style => "height:100px"), bike %>
      </div>
    </td>
    <td>
      <div class="title">
        <%= link_to bike.title, bike %>
      </div>
      <div class="description">
        <%=h bike.description %>
      </div>
      <div class="price">
        <%= number_to_currency(bike.price, :unit=> "€")%>
      </div>
      <div class="duration">
        Duration: <%= bike.duration %>
      </div>
       <div class="links">
        <% if user_signed_in? %>
        <% if current_user.id == 1 %>
        <%= link_to 'Edit', edit_bike_path(bike)%> | 
        <%= link_to 'Destroy', bike, :confirm => 'Are you sure?', :method => :delete%> | 
        <a href="/cart/<%= bike.id %>">Add to cart</a><br><br>
      <% else %>
        <a href="/cart/<%= bike.id %>">Add to cart</a><br><br>
      <% end %>
      <% end %>
      </div>
    </td>
  </tr>
<% end %>
</table>
<% if user_signed_in? %>
<% if current_user.id == 1 %>
  <p><%= link_to 'New Bike', new_bike_path %></p>
<% end %>
<% end %>
